:root{
    --color-background:black;
    --color-text-un:#649F81;
    --success: #00b894;
    --progress: #e17055;
}

html{
    margin: 0;
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*HEADER*/

header{
    width: 100vh;
    height: 100vh;
    background-color: var(--color-background);
    color: var(--color-text-un);
}

.infos{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

h3{
    font-size: 1.3em;
    font-weight: bold;
    text-transform: uppercase;
}


/*H3 section head */
.welcome-message{
    align-self: end;
    margin-bottom: 0.3em;
    text-align: center;
}

.i-am{
    font-size: 0.8em;
    font-weight: lighter;
    font-style: italic;
}


.name{
    justify-content: center;
    text-align: center;
}

#my-name{
    font-size: 4em;
    font-weight: bold;
}

.reconversion{
    font-style: italic;
    text-align: center;
}

.little-texte{
    font-style: italic;
}

/* Section Un */

section{
    height: 100vh;
}

.first-section{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

/* H3 section mes projets */
.my-project{
    text-align: center;
    align-self: center;
}

/* barre de progression */

.barre{
    border: 1px solid black;
    border-radius: 15px;
    height: 15%;
    width: 75%;
    text-align: center;
    justify-self: center;

}

/*2eme section */

.second-section{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

/* H3 section mes competences */

.my-skill{
    text-align: center;
}

/* Barre de progression */


