body{
    background-color: #E7EAEB;
    font-family: Arial, Helvetica, sans-serif;
}

.background-grey{
    background-color: #E7EAEB;
}

.bold-text{
    font-weight: bold;
}

.green-font{
    color: #639F80;
}

.b-style{
    color: black;
    font-weight: bold;
}

.bord-div{
    border: 1px solid #639F80
}

.green-bg-btn{
    background-color: #639F80;
}

.green-bg-btn:hover{
    background-color: #639F80;
    color: white;
}

.link-cv{
    text-decoration: none;
    color: #639F80;
    border: solid 1px #639F80;
}